<h2>List Details</h2>

<p> <%= @list.name %></p>

<%# bookmarks %>
<div>
<%= link_to 'Create Bookmark', new_list_bookmark_path(@list) %>
<%= link_to 'Delete Bookmark', new_list_bookmark_path(@list)
<%= link_to 'Home', lists_path %>
</div>
